NEXT_PUBLIC_BREW_ADDRESS=0xac88b89311F39c456d051b39E570ae51b7a32917
NEXT_PUBLIC_STAKING_ADDRESS=0x6Ee1E29fd66330539230D5FA7F430a89F275fF60
NEXT_PUBLIC_POLYGON_RPC=https://polygon-rpc.com
NEXT_PUBLIC_WALLETCONNECT_ID=your-walletconnect-project-id
